@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow|Julius+Sans+One|Source+Sans+Pro|Josefin+Sans:400,700|Raleway:400,700&display=swap');

:root{
    /* font-family: 'Archivo Narrow', sans-serif;
    font-family: 'Julius Sans One', sans-serif;
    font-family: 'Source Sans Pro', sans-serif; */
    --heading: 'Julius Sans One', sans-serif;
    --titles: 'Archivo Narrow', sans-serif;
    --text: 'Source Sans Pro', sans-serif;
}

body{
    background-color: rgb(115,119,122);
    color: rgb(236,237,231);
}

h1{
    font-family: 'Raleway', sans-serif;
}

h3{
    font-family: var(--titles);
}

header{
    margin:20px 0 100px;
}

header img{
    width:200px;
}
.triangle-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    /* border:1px solid gold; */
}

.triangle-up {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -1;
    width: 220px;
    height:150px;
    filter: drop-shadow(0px 0px 10px rgba(0,0,0,.5));
    filter: grayscale(85%) brightness(50%);
    transition: transform 1s, filter 0.5s;
    /* width: 0px;
    height: 0px;
    border-left: 110px solid transparent;
    border-right: 110px solid transparent;
    border-bottom: 150px solid rgb(180,200,211);
    border-image-source: url(images/background-4.jpg); */
}

.triangle-up img{
    height:100%;
}

.subject{
    margin:10px;
}

.listItem{
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    padding-top:100px;
    opacity:100%;
    width: 220px;
    height:150px;
    /* border: 1px solid black; */
    color: #ABB5D6;
    transition: padding-top 1s, opacity 1s, transform 1s, color 1s;
}

.listItem p {
    font-weight: bold;
    background-color: rgba(115,119,122,.6);
    padding: 2px 4px;
    border-radius: 7px;
    font-family: var(--titles);
    font-size: 24px;
    font-weight:bold;

}

.triangle-click {
    transform: rotate(180deg);
    filter:grayscale(0) brightness(100%);
}

.triangle-hover{
    transform: scale(1.1);
}

.listItem-click{
  padding-top: 30px;
  opacity:0;
}

.subject-box{
    display: none;
    width:100%;
    background: rgb(253,126,71);
}

.subject-details{
    display:none;
    padding: 10px;
}
.about{

}
/*
.web{
display: none;
}

.mograph{
display: none;
}

.resume{
display: none;
} */
@media only screen and (min-width: 768px) {
  /* For mobile phones: */
  .triangle-up{
      /* transition: transform 1s; */
  }



  .listItem{
      /* transition: padding-top 1s; */
  }


}
