@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow|Julius+Sans+One|Source+Sans+Pro|Josefin+Sans:400,700|Raleway:400,700&display=swap');

:root{
    /* font-family: 'Archivo Narrow', sans-serif;
    font-family: 'Julius Sans One', sans-serif;
    font-family: 'Source Sans Pro', sans-serif; */
    --heading: 'Julius Sans One', sans-serif;
    --titles: 'Archivo Narrow', sans-serif;
    --text: 'Source Sans Pro', sans-serif;
}

body{
    background-color: rgb(115,119,122);
    color: #37393B;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}

h1,h3,h2{
    font-family: 'Raleway', sans-serif;
}

header{
    margin:20px 0 100px;
}

header img{
    width:200px;
}


footer {
    position: absolute;
    bottom:0;
    width: 100%;
    /* border: 1px solid black; */

}

.container{
    position: relative;
    min-height: 100vh;
}

.triangle-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    /* border:1px solid gold; */
}

.triangle-up {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -1;
    width: 220px;
    height:150px;
    filter: drop-shadow(0px 0px 10px rgba(0,0,0,.5));
    filter: grayscale(85%) brightness(50%);
    transition: transform 1s, filter 0.5s;
}

.triangle-up img{
    height:100%;
}

.subject{
    margin:10px;
}


.subject:hover{
    cursor:pointer;
}

.listItem{
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    padding-top:100px;
    opacity:100%;
    width: 220px;
    height:150px;
    /* border: 1px solid black; */
    color: #ABB5D6;
    transition: padding-top 1s, opacity 1s, transform 1s, color 1s;
}

.listItem p {
    font-weight: bold;
    background-color: rgba(115,119,122,.6);
    padding: 2px 4px;
    border-radius: 7px;
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 24px;
    font-weight:bold;

}

.triangle-click {
    transform: rotate(180deg);
    filter:grayscale(0) brightness(100%);
}

.triangle-hover{
    transform: scale(1.1);
}

.listItem-click{
  padding-top: 30px;
  opacity:0;
}

.subject-box{
    display: none;
    width:100%;
    background: rgb(253,126,71);
    margin:50px 0;
    border-radius: 7px;

}

.subject-details{
    display:none;
    padding: 10px;

}

.subject-details-holder{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}


.mePicture{
    width: 200px;
    height: 200px;
    background-image: url(images/headshot.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin: 10px;
}

.profile{
    width:60%;
    color:#37393B;
}

.profile h1, h2{
    color:#606A8A;
}

.personal-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.links a{
    margin: 0 10px;
}

.contact span{
    text-decoration: none;
    color:white;
    background: white;
}

.project-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 20px 0;
}

.project{
    text-align: center;
    width:300px;
    padding:10px;
    background-color: rgba(115,119,122,.4);
    border-radius: 7px;
    margin: 10px;
}

.project img{
    height:200px;
    margin-bottom: 20px;
}

.project-container a{
    text-decoration: none;
    color: #37393B;
}

.project-details{
    display: none;
    text-align: left;
    height:300px;
}

.mograph-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.tumblr{
    text-align: center;
}

.video{
    width: 500px;
    margin:10px;
    padding:20px;
    background-color: rgba(115,119,122,.4);
    border-radius: 7px;
}

.back-to-top{

    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99;
    border-radius: 7px;
    background-color: powderblue;
}

iframe{
    width:490px;
    height:210px;
}


@media only screen and (max-width: 500px) {
  /* For mobile phones: */
.back-to-top img{
    width:50px;
}

.video{
    width:300px;
}

iframe{
    width:250px;
}

}
